.listdraggable{
    list-style-type:none;
    width:auto;
    height:auto;
    border:2px double rgb(5, 73, 28);
    margin-top:30px;
    padding:40px;
    background:rgb(170, 236, 203);
}
.listdraggable span{
    color:maroon;
    border:2px double rgb(5, 73, 28);
    
}
.listdroppable{
    list-style-type:none;
    width:300px;
    height:500px;
    border:2px double rgb(5, 73, 28);
    margin-top:30px;
    padding:40px;
    background:rgb(170, 236, 203);
}
.listdroppable li{
   
    border:2px solid rgb(5, 73, 28);
    color: maroon;
}
p{
font-weight:bold;
}
.text-center{
    color: green;
}