 <!--slider start-->
 <div class="container slider">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="row">
                  <div class="col-xl-6 slider_content">
                      <h1>E-SHOPPER</h1>
                      <h2>Responsive Web Page Design</h2>
                      <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo commodi ratione 
                       iste officia consequatur, vero numquam quos in accusamus, sed libero eaque
                        blanditiis quidem laudantium illo culpa, distinctio voluptas facilis!
                      </p>
                      <p>
                          <button class="btn btn-warning btn-sm">Add To Cart</button>
                      </p>
                  </div>
               <div class="col-xl-6">
                   <img src="/assets/Home/girl1.jpg" class="img-fluid">
               </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-xl-6 slider_content">
                    <h1>E-SHOPPER</h1>
                    <h2>Responsive Web Page Design</h2>
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo commodi ratione 
                     iste officia consequatur, vero numquam quos in accusamus, sed libero eaque
                      blanditiis quidem laudantium illo culpa, distinctio voluptas facilis!
                    </p>
                    <p>
                        <button class="btn btn-warning btn-sm">Add To Cart</button>
                    </p>
                </div>
             <div class="col-xl-6">
                 <img src="/assets/Home/girl2.jpg" class="img-fluid">
             </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-xl-6 slider_content">
                    <h1>E-SHOPPER</h1>
                    <h2>Responsive Web Page Design</h2>
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo commodi ratione 
                     iste officia consequatur, vero numquam quos in accusamus, sed libero eaque
                      blanditiis quidem laudantium illo culpa, distinctio voluptas facilis!
                    </p>
                    <p>
                        <button class="btn btn-warning btn-sm">Add To Cart</button>
                    </p>
                </div>
             <div class="col-xl-6">
                 <img src="/assets/Home/girl3.jpg" class="img-fluid">
             </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<!--slider end-->


