<!--footer start-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 footer_content">
                <h2>customer</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Help/FAQs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Track Order</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Size Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buying Guide</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Shop?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Pay?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Find Places We Deliver</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Style Hub</a>
                      </li>
                  </ul>
            </div>
            <div class="col-xl-2 footer_content">
                <h2>customer</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Help/FAQs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Track Order</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Size Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buying Guide</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Shop?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Pay?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Find Places We Deliver</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Style Hub</a>
                      </li>
                  </ul>
            </div>
            <div class="col-xl-2 footer_content">
                <h2>customer</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Help/FAQs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Track Order</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Size Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buying Guide</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Shop?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Pay?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Find Places We Deliver</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Style Hub</a>
                      </li>
                  </ul>
            </div>
            <div class="col-xl-2 footer_content">
                <h2>customer</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Help/FAQs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Track Order</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Size Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buying Guide</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Shop?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Pay?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Find Places We Deliver</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Style Hub</a>
                      </li>
                  </ul>
            </div>
            <div class="col-xl-2 footer_content">
                <h2>customer</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Help/FAQs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Track Order</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Size Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buying Guide</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Shop?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Pay?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Find Places We Deliver</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Style Hub</a>
                      </li>
                  </ul>
            </div>
            <div class="col-xl-2 footer_content">
                <h2>customer</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Help/FAQs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Track Order</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Size Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buying Guide</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Shop?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">How Do I Pay?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Find Places We Deliver</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Style Hub</a>
                      </li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
    <div class="col-xl-6">
      &copy; 2008 - 2019 SHOPPERS STOP LTD. ALL RIGHTS RESERVED.
    </div>
    <div class="col-xl-6 text-end">
     <a href="">Terms of Use</a>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a href=""> Cookie & Privacy Policy</a>
    
    </div>
    </div>
</div>
</div>
<!--footer end-->
