 <!--header start-->
 <div class="container header_class">
    <div class="row">
     <!-- <div class="col-xl-3">
     <img src="/assets/Home/logo.png" class="img-fluid" alt="eshopper logo"/>
     </div> -->
     <div class="col-xl-12 top_links">
        <ul class="nav justify-content-end">
            <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/homePage"><i class="fas fa-home"></i>Home</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/add-task"><i class="far fa-address-book"></i>Add Task</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/show-task"><i class="far fa-address-book"></i>Show Task</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/edit-task"><i class="far fa-address-book"></i>Edit Task</a>
            </li>
           
            
          </ul>
     </div>
    </div>
</div>
<!--header end-->
 